{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro</title>
  <link rel="icon" href="https://res.cloudinary.com/dacrpsl5p/image/upload/v1745430696/Logo-Negro-B_c6wznv.png"
    type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

  <link href="https://fonts.cdnfonts.com/css/open-dyslexic" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'Css/Header.css' %}">
  <link rel="stylesheet" href="{% static 'Css/Carrito.css' %}">
  <link rel="stylesheet" href="{% static 'Css/Principal.css' %}">
  <link rel="stylesheet" href="{% static 'Css/Registro.css' %}">
</head>

<body>
  {% include 'includes/header.html' %}

  <div class="login-container">
    <h1>Registrarse</h1>
    <form method="POST" action="{% url 'registro' %}">
      {% csrf_token %}
      <div class="form-grid">
        <div class="input-group">
          <label for="nombre">Nombre</label>
          <div style="position: relative;">
            <i class="fas fa-user input-icon"></i>
            <input type="text" id="nombre" name="nombre" class="input-field" placeholder="Tu nombre" required>
          </div>
          <small id="nombre-error" class="error-message" style="color: red; display: none;">Solo se permiten
            letras.</small>
        </div>

        <div class="input-group">
          <label for="telefono">Teléfono</label>
          <div style="position: relative;">
            <i class="fas fa-phone input-icon"></i>
            <input type="tel" id="telefono" name="telefono" class="input-field" placeholder="123 456 7890"
              maxlength="12" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required>
          </div>
        </div>


        <div class="input-group">
          <label for="apellido">Apellido</label>
          <div style="position: relative;">
            <i class="fas fa-user input-icon"></i>
            <input type="text" id="apellido" name="apellido" class="input-field" placeholder="Tu apellido" required>
          </div>
          <small id="apellido-error" class="error-message" style="color: red; display: none;">Solo se permiten
            letras.</small>
        </div>

        <div class="input-group">
          <label for="contrasena">Contraseña</label>
          <div class="password-container" style="position: relative;">
            <i class="fas fa-lock input-icon"></i>
            <input type="password" id="contrasena" name="contrasena" class="input-field" placeholder="••••••••"
              required>
            <button type="button" class="toggle-password"><i class="fas fa-eye-slash"></i></button>
          </div>
          <small id="contrasena-error" class="error-message" style="color: red; display: none;">Mínimo 8
            caracteres.</small>
        </div>

        <div class="input-group">
          <label for="correo">Correo electrónico</label>
          <div style="position: relative;">
            <i class="fas fa-envelope input-icon"></i>
            <input type="email" id="correo" name="correo" class="input-field" placeholder="ejemplo@correo.com" required>
          </div>
        </div>

        <div class="input-group">
          <label for="confirmar_contrasena">Confirmar contraseña</label>
          <div class="password-container" style="position: relative;">
            <i class="fas fa-lock input-icon"></i>
            <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" class="input-field"
              placeholder="••••••••" required>
            <button type="button" class="toggle-password"><i class="fas fa-eye-slash"></i></button>
          </div>
          <small id="confirmar-error" class="error-message" style="color: red; display: none;">Las contraseñas no
            coinciden.</small>
        </div>
      </div>

      <div class="check-box-terminos-condiciones">
        <label>
          <input type="checkbox" id="terminos" />
          Acepto los <a href="https://drive.google.com/file/d/1A_YUj1lajbiDjicZyKujmHHkMM_xlf8f/view?usp=sharing"
            style="color:#007acc;" target="_blank" rel="noopener noreferrer">términos y condiciones</a>
        </label>
      </div>

      <button type="submit" class="submit-btn">Registrarse</button>
    </form>
  </div>


  <!-- Carrito -->
  <section id="carrito" class="carrito" style="display: none;">
    <h2>Tu Carrito</h2>
    <div id="lista-carrito" class="contenedor-carrito"></div>
    <button id="vaciar-carrito">Vaciar Carrito</button>
    <button id="cerrar-carrito">Cerrar</button>
    <button id="btn-encargar">Encargar</button> <!-- Nuevo botón -->
    <div id="total-carrito">
      <span>Total: $<span id="total-precio">0.00</span></span>
    </div>
  </section>
  <script>
  const urlConfiguracionUsuario = "{% url 'configuracion_usuario' %}";
</script>

  <script src="{% static 'js/header.js' %}"></script>
  <script src="{% static 'js/Carrito.js' %}"></script>
  <script src="{% static 'js/Admin-Manda.js' %}"></script>
  <script src="{% static 'js/Registro.js' %}"></script>
</body>

</html>