{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Nuevo Producto</title>
    <link rel="icon" href="https://res.cloudinary.com/dacrpsl5p/image/upload/v1745430696/Logo-Negro-B_c6wznv.png"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'Css/Principal.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Modal-Agregar-Producto.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Admin-editar-producto.css' %}">
</head>

<body>
    <header>
        <div class="breadcrumb-container">
            <div class="breadcrumb">
                <a class="breadcrumb-link" href="{% url 'administrador' %}">
                    <i class="fas fa-home"></i> Home
                </a>
                <span class="breadcrumb-separator">/</span>
                <span class="breadcrumb-active">
                    <i class="fas fa-edit"></i> Editar Productos
                </span>
            </div>
        </div>
    </header>
    <section id="section-agregar-producto" class="seccion">
        <div class="admin-panel">
            <div class="admin-card">
                <form id="form-agregar-producto" onsubmit="agregarProducto(event)">
                    <h2>Editar Producto</h2>

                    <div class="form-group">
                        <label for="nombreProducto">Nombre del producto:</label>
                        <input type="text" id="nombreProducto"
                            placeholder="Escribe el nombre del producto, Ejemplo LUCERNA" required>
                    </div>

                    <div class="form-group">
                        <label for="descripcionProducto">Descripción:</label>
                        <textarea id="descripcionProducto" rows="3" placeholder="Descripcion del producto"
                            required></textarea>
                    </div>

                    <div class="form-row"> <!-- Contenedor flexible para ambos campos -->
                        <div class="form-group" style="flex: 2;"> <!-- Más ancho para el precio -->
                            <label for="precioProducto">Precio:</label>
                            <input type="number" id="precioProducto" required min="0" step="0.01"
                                placeholder="Precio del producto, Ejemplo 100.">
                        </div>

                        <div class="form-group" style="flex: 1;"> <!-- Menos ancho para el select -->
                            <label for="ofertaProducto">¿Está en oferta?</label>
                            <select id="ofertaProducto" onchange="togglePrecioOferta()">
                                <option value="no">No</option>
                                <option value="si">Sí</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" id="grupoPrecioOferta" style="display: none;">
                        <label for="precioOferta">Precio de oferta:</label>
                        <div class="discount-input-group">
                            <input type="number" id="precioOferta" min="0" step="1" placeholder="% Descuento (ej: 100)">
                            <input type="text" id="precioProductoDescuento" placeholder="Precio con descuento" disabled>
                        </div>
                    </div>

                    <!-- Categoría -->
                    <div class="form-group">
                        <label for="categoriaProducto">Categoría:</label>
                        <select id="categoriaProducto" required>
                            <option value="">Seleccione una categoría</option>
                        </select>
                    </div>

                    <!-- Imágenes -->
                    <div class="form-group">
                        <label for="imagenProducto">Selecciona una o más imágenes:</label>
                        <input type="file" id="imagenProducto" accept="image/*">
                        <div id="previewContainer" style="margin-top: 10px; display: flex; gap: 10px; flex-wrap: wrap;">
                        </div>
                    </div>

                    <button type="submit" class="btn-agregar">
                        <i class="fas fa-save"></i> Guardar producto
                    </button>

                    <a href="{% url 'administrador' %}" class="btn-cancelar">Cancelar</a>
                </form>
            </div>
        </div>
    </section>
    <span id="mensajeGuardado" style="display: none;">✅ Se ha editado el producto correctamente</span>

    <script src="{% static 'js/variables.js' %}"></script>
    <script src="{% static 'js/Admin-editar-productos.js' %}"></script>

    <script>
        checkAuthRedirect();
    </script>

</body>

</html>