* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }

  .Content-Login {
    width: 300px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }

  .imgPrincipal {
    text-align: center;
    margin-bottom: 20px;
  }

  .img-Usuario {
    width: 80px;
  }

  .form-group {
    position: relative;
    margin-bottom: 16px;
}

.form-input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .form-input.valid {
    border-color: #28a745; /* Verde para válido */
  }
  
  .form-input.invalid {
    border-color: #dc3545; /* Rojo para inválido */
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
  

  .form-label {
    position: absolute;
    top: 12px;
    left: 12px;
    color: gray;
    pointer-events: none;
    transition: 0.2s ease all;
    background-color: white;
    padding: 0 4px;
  }

  .form-input:focus + .form-label,
  .form-input:not(:placeholder-shown) + .form-label {
    top: -8px;
    left: 10px;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: #333333;
  }

  .register-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
  }
  
  .register-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-text a:hover {
    text-decoration: underline;
  }
  .google-btn {
    width: 100%;
    padding: 10px 16px;
    background-color: #fff;
    color: #444;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .google-btn:hover {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .google-icon {
    width: 20px;
    height: 20px;
  }


  
  